<%- include("partials/header")%>

<div class="container">
    <div class="col-md-6 mx-auto">
        
        <form action="/projects" method="post" enctype="multipart/form-data" id="newProject">
            <div class="display-4 text-center mb-3">
                New Project
            </div>
            <div class="form-group">
                <input type="text" class="form-control mb-3" name="projectName" id="projectName" placeholder="Project Name">
                <div class="custom-file mb-3">
                    <input type="file" name="file" id="file" class="custom-file-input">
                    <label for="file" class="custom-file-label">Choose File</label>
                </div>
                <input type="submit" value="Submit" class="btn btn-primary btn-block">
                <a style="color: black;" href="/campgrounds">Go Back</a>

            </div>
        </form>
    </div>
    
</div>


<%- include("partials/footer")%>
