<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/approval.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <title>Project</title>
</head>
<body>
    <div class="container ">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success  %>
            </div>
        <% } %>
    </div>
    <div class="process">
        <ul>
            <li>
                <i class="fas fa-clipboard-list fa-3x imp"></i>
                <p>
                    <i class="fas fa-check showLine"></i>
                </p> 
                <p>
                    Registration
                </p>
            </li>
            <li>
                <i class="far fa-credit-card fa-3x imp"></i>
                <p>
                    <i class="fas fa-check showLine"></i>
                </p> 
                <p>
                    Payment
                </p>
            </li>
            </li>
            <li>
                <i class="fas fa-user-check fa-3x imp" style="padding-left: 16px;"></i>
                <p>
                    <i class="fas fa-sync-alt showLine"></i>
                </p>
                <p>
                    Guide Approval
                </p>
            </li>
        </ul>
    </div>
    <div class="jumbotron">
        <h1>
            Guide Approval
        </h1>
        <a href="/logout">
            Logout
        </a>
        <br>
        <a href="/projects">
            Projects
        </a>
        <a href="/paymentPortal">
            Temp Go Back
        </a>
    </div>
    
    <br>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus, eius commodi reprehenderit esse, provident assumenda illum temporibus quisquam veritatis, fugiat a saepe! Laborum incidunt asperiores perspiciatis vitae eos maxime ducimus ipsa assumenda distinctio voluptas magnam nam ex voluptatum molestiae aperiam dolor, praesentium placeat itaque laudantium enim vero suscipit explicabo expedita! Minima vitae a rerum repudiandae perspiciatis, tempore dignissimos impedit consequatur atque doloribus, id rem tenetur doloremque iusto adipisci ipsa? Possimus soluta laborum odit numquam quia saepe. Iusto, tenetur nesciunt magni voluptate inventore exercitationem unde quam ab placeat. Odit ab ea, iusto nobis magnam pariatur consequuntur, quae hic animi minus voluptas.</p>
    <p class="display-1">GUIDE HAS NOT APPROVED</p>

   


<%- include("partials/footer") %>
