body{
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: auto;
    background-repeat: no-repeat;
}
html{
    height: 100%;
}
.process{
    height: 20%;
}

i{
    margin-bottom: 20px;
}

.imp{
    color: white;
}

.showLine{
    background: rgb(139, 156, 122);
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 50%;
    padding: 16px;
    padding-left: 15px;
    padding-top: 17px;
    
}

.showLine::after{
    content: '';
    background: rgb(139, 156, 122);
    height: 3px;
    width: 405px;
    display: block;
    position: absolute;
    left: 0;
    top: 90px;
    z-index: -1;
}


.process ul{
    text-align: center;
    list-style: none;
    margin: 2% auto 0 auto;
}

.process ul li{
    display: inline-block;
    width: 400px;
    position: relative;
}

.process ul li:nth-child(3) .showLine{
    background: rgb(2, 7, 58);
}

.process ul li:nth-child(3) .showLine::after{
    background: rgb(2, 7, 58);
}

.process ul li:nth-child(1) .showLine,
.process ul li:nth-child(2) .showLine{
    background: rgb(6, 89, 104);
}

.process ul li:nth-child(1) .showLine::after,
.process ul li:nth-child(2) .showLine::after{
    background: rgb(6, 89, 104);
}

.process ul li:first-child .showLine::after{
    width: 205px;
    left: 200px;
}

.process ul li:last-child .showLine::after{
    width: 184px;
}

.container{
    width: 30%;
}

.container p{
    text-align: center;
}